<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" th:replace="~{/home/index :: dynamic(~{::main}) }">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Watch shop</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="site.webmanifest">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">


<body ng-app="app" ng-controller="ctrl">
	<main>
		<!-- Hero Area Start-->
		<div class="slider-area ">
			<div class="single-slider slider-height2 d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="hero-cap text-center">
								<h2>Profile</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Hero Area End-->
		<!--================login_part Area =================-->
		<section class="login_part section_padding ">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5 col-md-5">
						<div class="login_part_text text-center">
							<div class="login_part_text_iner">
								<h2>New to our Shop?</h2>
								<p>There are advances being made in science and technology
									everyday, and a good example of this is the</p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-7">
						<div class="login_part_form">
							<div class="login_part_form_iner">
								<h3>Welcome to your profile [[${#request.remoteUser}]] ! <br></h3>
								<form class="row contact_form" method="" novalidate="novalidate" name="myAccount">
									<h6 class="text-centert text-danger" th:text="${message}"></h6>

									<div class="col-md-12 form-group p_star">
										<input type="text" class="form-control" id="username" name="username" value=""
											ng-model="account.username" placeholder="Username" readonly>
									</div>
									<div class="col-md-8 form-group p_star">
										<input type="password" class="form-control" id="password" name="password"
											ng-model="account.password" placeholder="Password" readonly>
									</div>
									<div class="col-md-4 form-group p_star">
										<button type="button" class="btn btn-primary" data-toggle="modal"
											data-target="#exampleModalCenter">
											Change
										</button>

										<!-- Modal -->
										<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
											aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLongTitle">Your current
															password
														</h5>
													</div>
													<div class="modal-body">
														<input type="password" class="form-control" id="confirmPassword"
															name="confirmPassword" value="" placeholder="password">
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Close</button>
														<button type="button" class="btn btn-primary"
															ng-click="authenticationPass()">Confirm</button>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-7 form-group p_star">
										<input type="text" class="form-control" id="firstname" name="firstname" value=""
											ng-minlength="3" ng-maxlength="50" required ng-pattern="/^[\p{L}\d\s]*$/u"
											ng-model="account.firstname" placeholder="Surname and middle name">
										<div class="errortext"
											ng-show="myAccount.firstname.$dirty && myAccount.firstname.$invalid"
											style="float: left; margin-right: 40px; color:red">
											<span ng-show="myAccount.firstname.$error.required">Surname and middle name is
												required</span>
											<span ng-show="myAccount.firstname.$error.minlength">Surname and middle name must be more
												than 3 characters</span>
											<span ng-show="myAccount.firstname.$error.maxlength">Surname and middle name must be less
												than 50 characters</span>
											<span
												ng-show="myAccount.firstname.$error.pattern && !myAccount.firstname.$error.minlength && !myAccount.firstname.$error.maxlength">Surname and middle name
												cannot contain special characters</span>
										</div>
									</div>
									<div class="col-md-5 form-group p_star">
										<input type="text" class="form-control" id="lastname" name="lastname" value=""
											ng-minlength="2" ng-maxlength="50" required ng-pattern="/^[\p{L}\d\s]*$/u"
											ng-model="account.lastname" placeholder="Lastname">
										<div class="errortext"
											ng-show="myAccount.lastname.$dirty && myAccount.lastname.$invalid"
											style="float: left; margin-right: 40px; color:red">
											<span ng-show="myAccount.lastname.$error.required">Lastname is
												required</span>
											<span ng-show="myAccount.lastname.$error.minlength">Lastname must be more
												than 2 characters</span>
											<span ng-show="myAccount.lastname.$error.maxlength">Lastname must be less
												than 50 characters</span>
											<span
												ng-show="myAccount.lastname.$error.pattern && !myAccount.lastname.$error.minlength && !myAccount.lastname.$error.maxlength">Lastname
												cannot contain special characters</span>
										</div>
									</div>
									<div class="col-md-12 form-group p_star">
										<input type="email" class="form-control" id="email" name="email" value=""
											ng-model="account.email" placeholder="Email" required>
										<div class="errortext"
											ng-show="myAccount.email.$dirty && myAccount.email.$invalid"
											style="float: left; margin-right: 40px; color:red">
											<span ng-show="myAccount.email.$error.required">Email is required</span>
											<span ng-show="myAccount.email.$error.email">Email must be a valid
												email</span>
										</div>
									</div>
									<div class="col-md-12 form-group">
										<input class="form-control" ng-model="account.phone" name="phone" type="text"
											placeholder="Phone" required ng-pattern="/^[0-9]*$/" ng-maxlength="10"
											ng-minlength="9" maxlength="10">
										<div class="errortext"
											ng-show="myAccount.phone.$dirty && myAccount.phone.$invalid"
											style="float: left; margin-right: 40px; color:red">
											<span ng-show="myAccount.phone.$error.required">Phone is required</span>
											<span ng-show="myAccount.phone.$error.minlength">Phone must at least 10
												digit</span>
											<span
												ng-show="myAccount.phone.$error.pattern && !myAccount.phone.$error.maxlength">Phone
												must be a valid phone</span>
										</div>
									</div>
									<div class="col-md-12 form-group">
										<button ng-click="updateAccount()" ng-disabled=" myAccount.$invalid "
											type="submit" value="submit" class="btn_3">
											Update
										</button>
										<button ng-click="delete(account)" type="" value=""
											class="btn_3 btn-outline-danger">
											Delete
										</button>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Modal nhập password mới -->
		<div class="modal fade" id="newPasswordModal" tabindex="-1" role="dialog"
			aria-labelledby="newPasswordModalTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="newPasswordModalTitle">New Password
						</h5>
					</div>
					<div class="modal-body">
						<form name="myPass">
							<input type="password" class="form-control" id="newPassword" ng-model="newPassword"
								name="newPassword" value="" placeholder="New password" ng-minlength="8" required
								ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#$%^&*()_+{}\[\]:;<>,.?~]).*$/">
							<div class="errortext" ng-show="myPass.newPassword.$dirty && myPass.newPassword.$invalid"
								style="float: left; margin-right: 40px; color:red">
								<span ng-show="myPass.newPassword.$error.required">Password
									is required</span>
								<span ng-show="myPass.newPassword.$error.minlength">Password
									must be more than 8 characters</span>
								<span
									ng-show="myPass.newPassword.$error.pattern && !myPass.newPassword.$error.minlength">Password
									must contain at least one lowercase letter, one uppercase
									letter, one digit and one special character</span>
							</div>
						</form>

						<input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword"
							value="" placeholder="Confirm new Password">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" ng-click="updatePassword()"
							>Update</button>
					</div>
				</div>
			</div>
		</div>

		<!--================login_part end =================-->
	</main>
	<footer>
		<!-- Footer Start-->
		<div class="footer-area footer-padding">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
						<div class="single-footer-caption mb-50">
							<div class="single-footer-caption mb-30">
								<!-- logo -->
								<div class="footer-logo">
									<a href="/home/index"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
								</div>
								<div class="footer-tittle">
									<div class="footer-pera">
										<p>Asorem ipsum adipolor sdit amet, consectetur adipisicing elitcf sed do
											eiusmod tem.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Quick Links</h4>
								<ul>
									<li><a href="#">About</a></li>
									<li><a href="#"> Offers & Discounts</a></li>
									<li><a href="#"> Get Coupon</a></li>
									<li><a href="#"> Contact Us</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>New Products</h4>
								<ul>
									<li><a href="#">Woman Cloth</a></li>
									<li><a href="#">Fashion Accessories</a></li>
									<li><a href="#"> Man Accessories</a></li>
									<li><a href="#"> Rubber made Toys</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Support</h4>
								<ul>
									<li><a href="#">Frequently Asked Questions</a></li>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Report a Payment Issue</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer End-->
	</footer>
	<!--? Search model Begin -->
	<div class="search-model-box">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-btn">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Searching key.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->


</body>

</html>